@*
---Phần Search trên form
TextBox : .textbox, .autobind (cho ô find gia tri tu dong)
DateEdit : .textdate
ComboBox : .textcombobox
*@
<div class="dxcontent_search"> 
    <div class="itembox">
		<label class="placehoder">WORKING DATE</label>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_txtWORKING_DATE";
				settings.ControlStyle.CssClass = "dateedit textdate";
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
    </div>
    <div class="itembox">
		<label class="placehoder">SHIFT</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtSHIFT";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">SUPPLIER NAME</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtSUPPLIER_NAME";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">SUPPLIER CODE</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtSUPPLIER_CODE";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">ORDER NO</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtORDER_NO";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">ORDER DATETIME</label>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_txtORDER_DATETIME";
				settings.ControlStyle.CssClass = "dateedit textdate";
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
    </div>
    <div class="itembox">
		<label class="placehoder">TRIP NO</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtTRIP_NO";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">TRUCK NO</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtTRUCK_NO";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">EST ARRIVAL DATETIME</label>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_txtEST_ARRIVAL_DATETIME";
				settings.ControlStyle.CssClass = "dateedit textdate";
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
    </div>
    <div class="itembox">
		<label class="placehoder">CREATED BY</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtCREATED_BY";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">CREATED DATE</label>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_txtCREATED_DATE";
				settings.ControlStyle.CssClass = "dateedit textdate";
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
    </div>
    <div class="itembox">
		<label class="placehoder">UPDATED BY</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtUPDATED_BY";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">UPDATED DATE</label>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_txtUPDATED_DATE";
				settings.ControlStyle.CssClass = "dateedit textdate";
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
    </div>
    <div class="itembox">
		<label class="placehoder">IS ACTIVE</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtIS_ACTIVE";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">STATUS</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtSTATUS";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">    
		@if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
			(Html.Toyota().Page.ControllerName.ToString(), "Search"))
		{	
			@Html.DevExpress().Button(settings =>
			{
				settings.Name = "btnSearch";
				settings.Text = "Search";
				settings.ClientSideEvents.Click = "DoSearch";
			}).GetHtml()
		}
    </div>
</div>
