@*
---Phần Edit form, CssClass Validate
    --Class (.hide) thẻ cha nếu bỏ qua

TextBox : .val-required (Check Null), .val-integer (Check Integer)
TimeEdit : .val-time (Check định dạng time)
*@
<table class="edit-form PLAN_H">
	<tr>
        <td class="label"> 
			ORDER NO  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_ORDER_NO";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			LINE  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_LINE";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			CASE NO  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_CASE_NO";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			SUPPLIER CODE  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_SUPPLIER_CODE";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			UNPACKING TIME  
		</td>
        <td>
            @Html.DevExpress().TimeEdit(
                settings => {
                settings.Name = "_UNPACKING_TIME";
                settings.Width = 200;
                settings.Properties.DisplayFormatString = "HH:mm:ss";
                settings.Properties.EditFormatString = "HH:mm:ss"; 
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			UNPACKING DATE  
		</td>
        <td>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_UNPACKING_DATE";
				settings.ControlStyle.CssClass = "dateedit";
				settings.Width = 200;
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			NO IN DATE  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_NO_IN_DATE";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			WORKING DATE  
		</td>
        <td>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_WORKING_DATE";
				settings.ControlStyle.CssClass = "dateedit";
				settings.Width = 200;
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			SHIFT  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_SHIFT";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			INCOMP REASON  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_INCOMP_REASON";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			UP STATUS  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_UP_STATUS";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			IS ACTIVE  
		</td>
        <td>
            @Html.DevExpress().CheckBox(
            settings =>
            { 
                settings.Name = "_IS_ACTIVE";
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			IS CURRENT  
		</td>
        <td>
            @Html.DevExpress().CheckBox(
            settings =>
            {
                settings.Name = "_IS_CURRENT";
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
          
			<span class="messageerror"></span>
        </td>
    </tr>
	 
    <tr>
        <td colspan="2" style="padding-top: 20px;">
            <div style="float: right; margin-right: 20px;">
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancel";
                    settings.ControlStyle.CssClass = "button";
                    settings.Text = "Cancel";
                    settings.ClientSideEvents.Click = "OnBtnCancelClicked";
                }).GetHtml()
            </div>
            <div style="float: right; margin-right: 5px">
			 @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
				 (Html.Toyota().Page.ControllerName.ToString(), "Edit"))
                {
					@Html.DevExpress().Button(settings =>
					{
						settings.Name = "btnUpdate";
						settings.ControlStyle.CssClass = "button";
						settings.Text = "Save";
						settings.UseSubmitBehavior = true;
						settings.ClientSideEvents.Click = "function(s, e){ OnBtnUpdateClicked(this) }";
					}).GetHtml()
				}
            </div>
            <span id="userStatus" class="action-status"></span>
        </td>
    </tr>
</table>