@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .dxgvTable_MetropolisBlue .dxgvTable td.dxgv.dxgvDetailCell {
        padding: 10px 0;
    }

    .AssignPLAN_D {
        display: inline-block;
        margin-bottom: 4px;
    }
</style>

<div class="dxcontent_list">
    <div class="content-header content-title">
        <div class="action-area">
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
                (Html.Toyota().Page.ControllerName.ToString(), "New"))
            {
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnAdd";
                    settings.Text = "Add New";
                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsAdd16x16;
                    settings.ClientSideEvents.Click = "Add";
                }).GetHtml()
            }
        </div>
        <h1>Up Plan Management</h1>
        <div style="clear: both"></div>
    </div>

    <div class ="content-header">
        @Html.Partial("_TB_R_UP_PLAN_HSearch")
    </div>

    @Html.Partial("_TB_R_UP_PLAN_HList")

    @Html.DevExpress().PopupControl(settings =>
    {
        settings.HeaderText = "TB_R_UP_PLAN_H Management";
        settings.Name = "popTB_R_UP_PLAN_H";
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.Modal = true;
        settings.ShowCloseButton = true;
        settings.PopupAnimationType = AnimationType.Fade;
        settings.Width = System.Web.UI.WebControls.Unit.Pixel(500);
        settings.Style.Add("background-color", "rgba(0, 0, 0, 0.5)");
        settings.SetContent(() =>
        {
            Html.RenderPartial("_TB_R_UP_PLAN_HEdit");
        });
        settings.ClientSideEvents.CloseUp = "OnPopTB_R_UP_PLAN_HCloseUp";
    }).GetHtml()


    @Html.DevExpress().PopupControl(settings =>
    {
        settings.HeaderText = "PLAN D";
        settings.Name = "popPLAN_D";
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.Modal = true;
        settings.ShowCloseButton = true;
        settings.PopupAnimationType = AnimationType.Fade;
        settings.Width = System.Web.UI.WebControls.Unit.Pixel(500);
        settings.Height = System.Web.UI.WebControls.Unit.Pixel(200);
        settings.Style.Add("background-color", "rgba(0, 0, 0, 0.5)");
        settings.SetContent(() =>
        {
            Html.RenderPartial("_TB_R_UP_PLAN_DEdit");
        });
        settings.ClientSideEvents.CloseUp = "OnPopPLAN_DCloseUp";
    }).GetHtml()

    @section HeadScript {
        <script src="@Url.Content("~/Content/Scripts/App/TB_R_UP_PLAN_H.js")" type="text/javascript"></script>
    }
</div>
