@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dxcontent_list">
	<div class="content-header content-title">
        @Html.Partial("_TB_R_PART_SMQDSearch")
		<div class="action-area">
			@if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
				(Html.Toyota().Page.ControllerName.ToString(), "New"))
              {
				@Html.DevExpress().Button(settings =>
				{
					settings.Name = "btnAdd";
					settings.Text = "Add New";
					settings.ClientSideEvents.Click = "Add";
                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsAdd16x16;
				}).GetHtml()
			}
		</div>
	</div>
    @using (Html.BeginForm()) {
	        @Html.Partial("_TB_R_PART_SMQDList")
    }	

    <div class="content-header content-title register">    
                <div class="action-area" style="float: right;margin-right:2px;margin-top:0px">
                    @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
				        (Html.Toyota().Page.ControllerName.ToString(), "Upload"))
                        {
				            <button class="btn btn-primary btn-xs" type="button" onclick="IMPORT_PART_SMQD(); return false;">
                        <i class="fa fa-upload"></i> Upload</button>
			            }  
                </div> 
            </div>

    @Html.DevExpress().PopupControl(settings =>
        {
            settings.HeaderText = "IMPORT PART SMQD";
                settings.Name = "popIMPORT_PART_SMQD";
                settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
                settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
                settings.Modal = true;
                //settings.ShowCloseButton = true;
                settings.CloseAction = CloseAction.CloseButton;
                settings.PopupAnimationType = AnimationType.Fade;
                settings.Width = System.Web.UI.WebControls.Unit.Pixel(500);
                settings.Style.Add("background-color", "rgba(0, 0, 0, 0.5)");
                settings.SetContent(() =>
                {
                    Html.RenderPartial("_TB_R_PART_SMQDImport");
                });
                settings.ClientSideEvents.CloseUp = "OnPopPART_SMQDCloseUp";
            }).GetHtml()

	@Html.DevExpress().PopupControl(settings =>
	{
		settings.HeaderText = "TB_R_PART_SMQD Management";
		settings.Name = "popTB_R_PART_SMQD";
		settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
		settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
		settings.Modal = true;
		settings.ShowCloseButton = true;
		settings.PopupAnimationType = AnimationType.Fade;
		settings.Width = System.Web.UI.WebControls.Unit.Pixel(500);
		settings.Style.Add("background-color", "rgba(0, 0, 0, 0.5)");
		settings.SetContent(() =>
		{
			Html.RenderPartial("_TB_R_PART_SMQDEdit");
		});
		settings.ClientSideEvents.CloseUp = "OnPopTB_R_PART_SMQDCloseUp";
	}).GetHtml()

	@section HeadScript {
		<script src="@Url.Content("~/Content/Scripts/App/TB_R_PART_SMQD.js")" type="text/javascript"></script>
	}
</div>
