@*
---Phần Edit form, CssClass Validate
    --Class (.hide) thẻ cha nếu bỏ qua

TextBox : .val-required (Check Null), .val-integer (Check Integer)
TimeEdit : .val-time (Check định dạng time)
*@
<table class="edit-form"> 
	<tr>
        <td class="label">MIN STOCK</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_MIN_STOCK";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox val-integer";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			MAX STOCK  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_MAX_STOCK";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox val-integer";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			TC FROM  
		</td>
        <td>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_TC_FROM";
				settings.ControlStyle.CssClass = "dateedit";
				settings.Width = 200;
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			TC TO  
		</td>
        <td>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_TC_TO";
				settings.ControlStyle.CssClass = "dateedit";
				settings.Width = 200;
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			IS ACTIVE  
		</td>
        <td>
             
            @Html.DevExpress().CheckBox(
            settings =>
            {

                settings.Name = "_S_IS_ACTIVE";
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml() 
			<span class="messageerror"></span>
        </td>
    </tr>
	 
    <tr>
        <td colspan="2" style="padding-top: 20px;">
            <div style="float: right; margin-right: 20px;">
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnSTOCKCancel";
                    settings.ControlStyle.CssClass = "button";
                    settings.Text = "Cancel";
                    settings.ClientSideEvents.Click = "OnBtnSTOCKCancelClicked";
                }).GetHtml()
            </div>
            <div style="float: right; margin-right: 5px">
			 @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
				 (Html.Toyota().Page.ControllerName.ToString(), "Edit"))
                {
					@Html.DevExpress().Button(settings =>
					{
                        settings.Name = "btnSTOCKUpdate";
						settings.ControlStyle.CssClass = "button";
						settings.Text = "Save";
						settings.UseSubmitBehavior = true;
                        settings.ClientSideEvents.Click = "function(s, e){ OnBtnSTOCKUpdateClicked(this) }";
					}).GetHtml()
				}
            </div>
            <span id="userStatus" class="action-status"></span>
        </td>
    </tr>
</table>

