<div class="dxcontent_search">
    <div class="itembox">
		<label class="placehoder">CFC</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtCFC";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">PROD SFX</label>
			@Html.DevExpress().TextBox(settings =>
			{
                settings.Name = "_txtPROD_SFX";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div> 
    <div class="itembox">
		<label class="placehoder">PART NO</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtPART_NO";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">BACK NO</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtBACK_NO";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">SUPPLIER CODE</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtSUPPLIER_CODE";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    
    <div class="itembox">    
		@if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
			(Html.Toyota().Page.ControllerName.ToString(), "Search"))
		{	
			@Html.DevExpress().Button(settings =>
			{
				settings.Name = "btnSearch";
				settings.Text = "Search";
                settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsSearch16x16devav;
				settings.ClientSideEvents.Click = "DoSearch";
			}).GetHtml()
		}
    </div>
</div>
