<table class="edit-form">
	<tr>
        <td class="label"> 
			PART_ID  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_PART_ID";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "val-required textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			IS_IN_OUT  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_IS_IN_OUT";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			QTY  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_QTY";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			IN_OUT_BY  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_IN_OUT_BY";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			IN_ORDER_NO  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_IN_ORDER_NO";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			OUT_PROD_VEHICLE_ID  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_OUT_PROD_VEHICLE_ID";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			IS_PROCESS_STOCK  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_IS_PROCESS_STOCK";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			IS ACTIVE  
		</td>
        <td>
            @Html.DevExpress().CheckBox(
            settings =>
            {
                settings.Name = "_IS_ACTIVE";
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml() 
			<span class="messageerror"></span>
        </td>
    </tr>
 
    <tr>
        <td colspan="2" style="padding-top: 20px;">
            <div style="float: right; margin-right: 20px;">
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancel";
                    settings.ControlStyle.CssClass = "button";
                    settings.Text = "Cancel";
                    settings.ClientSideEvents.Click = "OnBtnCancelClicked";
                }).GetHtml()
            </div>
            <div style="float: right; margin-right: 5px">
			 @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
				 (Html.Toyota().Page.ControllerName.ToString(), "Edit"))
                {
					@Html.DevExpress().Button(settings =>
					{
						settings.Name = "btnUpdate";
						settings.ControlStyle.CssClass = "button";
						settings.Text = "Save";
						settings.UseSubmitBehavior = true;
						settings.ClientSideEvents.Click = "function(s, e){ OnBtnUpdateClicked(this) }";
					}).GetHtml()
				}
            </div>
            <span id="userStatus" class="action-status"></span>
        </td>
    </tr>
</table>