<table class="edit-form">
	<tr>
        <td class="label"> 
			TRUCK- UNLOADING PLAN MASTER
		</td>
        <td>          
             @Html.Partial("_TB_R_UNLOADING_PLAN_H_Combobox")                           
			<span class="messageerror"></span>
        </td>        
    </tr>
    <tr>        
        <td class="label"> 
			PATH
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_PATH";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			TRANSPORTER ABBR.
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_TRANSPORTER_ABBR";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>        
    </tr>
    <tr>        
        <td class="label"> 
			TRUCK TYPE  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_TRUCK_TYPE";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			IS ACTIVE  
		</td>
        <td>
            @Html.DevExpress().CheckBox(
            settings =>
            {
                settings.Name = "_IS_ACTIVE";
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()  
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top: 20px;">          
            <div style="float: left; margin-left: 200px">
			 @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
				 (Html.Toyota().Page.ControllerName.ToString(), "Edit"))
                {
					@Html.DevExpress().Button(settings =>
					{
						settings.Name = "btnUpdate";
						settings.ControlStyle.CssClass = "button";
						settings.Text = "Save";
						settings.UseSubmitBehavior = true;
                        settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.SaveSave16x16;
						settings.ClientSideEvents.Click = "function(s, e){ OnBtnUpdateClicked(this) }";
					}).GetHtml()
				}
            </div>
              <div style="float: left; margin-left: 20px;">
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancel";
                    settings.ControlStyle.CssClass = "button";
                    settings.Text = "Cancel";
                    settings.ClientSideEvents.Click = "OnBtnCancelClicked";
                    settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsCancel16x16;
                }).GetHtml()
            </div>
            <span id="userStatus" class="action-status"></span>
        </td>
    </tr>
</table>




