@using LSP.Models
@Html.DevExpress().GridView(settings =>
{
    settings.Name = "gvList";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.KeyFieldName = "ID";
    settings.SettingsPager.PageSize = LSP.Models.Common.PageSize_M(); //10
    settings.SettingsPager.NumericButtonCount = 10;
    settings.SettingsPager.AllButton.Visible = true;
    settings.SettingsPager.AlwaysShowPager = true;
    settings.SettingsPager.PageSizeItemSettings.Visible = true;
    settings.SettingsPager.PageSizeItemSettings.Items = Common.PageSizeItemSettings(); //new string[] { "10", "20", "50" };
    settings.Settings.ShowFilterRow = true;
    settings.Settings.ShowFilterRowMenu = true;

    settings.Styles.Header.Font.Bold = true;
    settings.Styles.Header.Font.Size = 8;
    settings.Styles.Header.ForeColor = System.Drawing.Color.White;
    settings.Styles.Header.Paddings.Padding = 3;
    settings.Styles.Header.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    settings.Styles.Header.BackColor = System.Drawing.Color.Black;
    settings.Styles.Cell.Font.Size = 8;
    settings.CallbackRouteValues = new { Controller = "TB_M_CALENDAR", Action = "GridCallback" };
    
     //Focus row
    settings.SettingsBehavior.AllowFocusedRow = true;
    settings.Styles.FocusedRow.BackColor = System.Drawing.Color.SlateGray;
    
     //Export
    settings.SettingsExport.EnableClientSideExportAPI = true;
    settings.SettingsExport.ExcelExportMode = DevExpress.Export.ExportType.WYSIWYG;
    settings.SettingsExport.BeforeExport = (sender, e) =>
    {
        MVCxGridView gridView = sender as MVCxGridView;
        if (sender == null)
            return;
        gridView.Columns["Op."].Visible = false;
    };

    //Toolbar
    settings.Toolbars.Add(toolbar =>
    {
        toolbar.Enabled = true;
        toolbar.EnableAdaptivity = true;
        toolbar.Position = GridToolbarPosition.Top;
        toolbar.ItemAlign = GridToolbarItemAlign.Left;

        toolbar.Items.Add(i =>
        {
            i.BeginGroup = true;
            i.SetTemplateContent(c =>
            {
                Html.DevExpress().ButtonEdit(s =>
                {
                    s.Name = "search";
                    s.Properties.NullText = "Search inline...";
                    s.Properties.Buttons
                        .Add()
                        .Image.IconID = DevExpress.Web.ASPxThemes.IconID.FindFind16x16gray;
                }).Render();
            });
        });

        toolbar.Items.Add(i =>
        {
            i.BeginGroup = true;
            i.SetTemplateContent(c =>
            {
                @Html.DevExpress().Button(s =>
                {
                    s.Name = "btnDetails";
                    s.ClientSideEvents.Click = "showdetail";
                    s.Text = "Group Details";
                    s.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.SpreadsheetShowdetail16x16;
                }).GetHtml();
            });
        });

        toolbar.Items.Add(i =>
        {
            i.BeginGroup = true;
            i.SetTemplateContent(c =>
            {
                @Html.DevExpress().Button(s =>
                {
                    s.Name = "btnDetailsOrder";
                    s.ClientSideEvents.Click = "showDetailsOrder";
                    s.Text = "Order -> Receive Day";
                    s.Styles.Style.BackColor = System.Drawing.ColorTranslator.FromHtml("#ffff66");
                    s.Styles.Style.Font.Bold = true;
                    //s.Styles.Style.ForeColor = System.Drawing.ColorTranslator.FromHtml("#ffffff");
                    s.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.SchedulingCalendar16x16;
                }).GetHtml();
            });
        });

        /*toolbar.Items.Add(i =>
        {
            i.BeginGroup = true;
            i.SetTemplateContent(c =>
            {
                @Html.DevExpress().Button(s =>
                {
                    s.Name = "btnCalendarScheduler";
                    s.ClientSideEvents.Click = "showCalendarScheduler";
                    s.Text = "Calendar Scheduler";
                    s.Styles.Style.BackColor = System.Drawing.ColorTranslator.FromHtml("#ffff66");
                    s.Styles.Style.Font.Bold = true;                    
                    s.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.SchedulingCalendar16x16;
                }).GetHtml();
            });
        });*/

        toolbar.Items.Add(i =>
        {
            i.BeginGroup = true;
            i.SetTemplateContent(c =>
            {
                @Html.DevExpress().Button(s =>
                {
                    s.Name = "BtnCollapse";
                    s.Text = "Collapse Rows";
                    s.UseSubmitBehavior = false;
                    s.ClientSideEvents.Click = "function() { gvList.CollapseAll() }";
                    s.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.SpreadsheetCollapsefieldpivottable16x16;
                }).GetHtml();
            });
        });

        toolbar.Items.Add(i =>
        {
            i.SetTemplateContent(c =>
            {
                @Html.DevExpress().Button(s =>
                {
                    s.Name = "BtnExpand";
                    s.Text = "Expand Rows";
                    s.UseSubmitBehavior = false;
                    s.ClientSideEvents.Click = "function() { gvList.ExpandAll() }";
                    s.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsExpandcollapse16x16devav;
                }).GetHtml();
            });
        });

        toolbar.Items.Add(i =>
        {
            i.BeginGroup = true;
            i.SetTemplateContent(c =>
            {
                @Html.DevExpress().Button(s =>
                {
                    s.Name = "btnExportXls";
                    s.ClientSideEvents.Click = "function(s, e) {gvList.ExportTo(ASPxClientGridViewExportFormat.Xls);}";
                    s.Text = "Export to Xls";
                    s.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ExportExporttoxls16x16;
                }).GetHtml();
            });
        });
      
        /*toolbar.Items.Add(GridViewToolbarCommand.ShowFilterEditor);
          toolbar.Items.Add(GridViewToolbarCommand.ClearFilter);
          toolbar.Items.Add(GridViewToolbarCommand.ShowGroupPanel);

        toolbar.Items.Add(i =>
        {
            i.BeginGroup = true;
            i.SetTemplateContent(c =>
            {
                @Html.DevExpress().Button(s =>
                {
                    s.Name = "Help";
                    s.ClientSideEvents.Init = "function(s, e) { }";
                    s.ClientSideEvents.Click = "function(s, e) { }";
                    s.Text = "Help";
                    s.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.HelpIndex16x16gray;
                }).GetHtml();
            });
        });
        */
    });
    //For Search panel
    settings.SettingsSearchPanel.CustomEditorName = "search";
    
    settings.Columns.Add(c =>
    {
        c.Caption = "Op.";
        c.Width = System.Web.UI.WebControls.Unit.Pixel(70);
        c.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
        c.SetDataItemTemplateContent(content =>
        {
            System.Text.StringBuilder strBuilder = new System.Text.StringBuilder();
            if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
			(Html.Toyota().Page.ControllerName.ToString(), "Edit"))
            {
                strBuilder.Append(string.Concat("<a class='btnCollectionEdit' href='#edit' data-id='", DataBinder.Eval(content.DataItem, "id"), "' onclick='return Edit(this)' title='Edit'><i class='fa fa-pencil'></i></a>"));
            }
            if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
            (Html.Toyota().Page.ControllerName.ToString(), "Delete"))
            {
                strBuilder.Append(string.Concat(" | <a class='btnCollectionDelete' href='#delete' data-id='", DataBinder.Eval(content.DataItem, "id"), "' onclick='return Delete(this)' title='Delete'><i class='fa fa-trash-o'></i></a>"));
            }                                   
            Html.ViewContext.Writer.Write(strBuilder.ToString());
        });
    });
    settings.Columns.Add(c =>
        {
            c.Caption = "No.";
            c.FieldName = "ROW_NO";
            c.Width = 60;
        }
    );
    settings.Columns.Add(c =>
        {
            c.Caption = "SUPPLIER CODE";
            c.FieldName = "SUPPLIER_CODE";
            c.Width = 60;
            c.GroupIndex = 1;
        }
    );
    
    settings.Columns.Add(c =>
        {
            c.Caption = "WORKING MONTH";
            c.FieldName = "WORKING_DATE";
            c.PropertiesEdit.DisplayFormatString = "MM/yyyy";
        }
    );
        
    settings.Columns.Add(c =>
        {
            c.Caption = "WORKING DATE";
            c.FieldName = "WORKING_DATE";
            c.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy";
        }
    );
    settings.Columns.Add(c =>
        {
            c.Caption = "WORKING TYPE";
            c.FieldName = "WORKING_TYPE";
        }
    );
    settings.Columns.Add(c =>
        {
            c.Caption = "WORKING STATUS";
            c.FieldName = "WORKING_STATUS";
        }
    );
    settings.Columns.Add(c =>
    {
        c.Caption = "UPDATED BY";
        c.FieldName = "UPDATED_BY";
    }
            );
    settings.Columns.Add(c =>
    {
        c.Caption = "UPDATED DATE";
        c.FieldName = "UPDATED_DATE";
        c.PropertiesEdit.DisplayFormatString = "dd/MM/yyyy HH:mm:ss";
    }
    );
    settings.Columns.Add(c =>
        {
            c.Caption = "IS ACTIVE?";
            c.FieldName = "IS_ACTIVE";
            c.SetDataItemTemplateContent(cc =>
            {
                Html.DevExpress().CheckBox(checkboxSettings =>
                {
                    checkboxSettings.Name = "IS_ACTIVE_" + cc.KeyValue.ToString();
                    checkboxSettings.Checked = Convert.ToString(DataBinder.Eval(cc.DataItem, "IS_ACTIVE")) == "Y" ? true : false;
                    checkboxSettings.Properties.ClientSideEvents.CheckedChanged = "function() { return false; }";
                    checkboxSettings.ClientEnabled = false;
                }).Render();
            });
        }
    );

     //Show group columns as default
    settings.Settings.ShowGroupedColumns = true;
    settings.SettingsBehavior.AutoExpandAllGroups = true;
    settings.HtmlRowPrepared = (s, e) =>
    {
        MVCxGridView gridView = s as MVCxGridView;
        if (e.RowType == GridViewRowType.Group)
        {
            if (gridView.GetRowLevel(e.VisibleIndex) == 0)
            {
                e.Row.BackColor = System.Drawing.Color.CadetBlue;
            }
            else if (gridView.GetRowLevel(e.VisibleIndex) == 1)
            {
                e.Row.BackColor = System.Drawing.Color.Cornsilk;
            }
            else
            {
                e.Row.BackColor = System.Drawing.Color.Silver;
            }

            e.Row.Font.Bold = true;
            e.Row.Font.Size = 8;
        }

        if (e.RowType != GridViewRowType.Data) return;
    };
    
}).Bind(LSP.Models.TB_M_CALENDAR.TB_M_CALENDARProvider.Instance.TB_M_CALENDAR_Search(Model ?? new LSP.Models.TB_M_CALENDAR.TB_M_CALENDARInfo())).GetHtml()



