@*
---Phần Search trên form
TextBox : .textbox, .autobind (cho ô find gia tri tu dong)
DateEdit : .textdate
ComboBox : .textcombobox
*@
<div class="dxcontent_search"> 
    <div class="itembox">
		<label class="placehoder">UP PLAN H ID</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtUP_PLAN_H_ID";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">LINE</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtLINE";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">NO</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtNO";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">BACK NO</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtBACK_NO";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">CASE NO</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtCASE_NO";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">SUPPLIER NO</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtSUPPLIER_NO";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">MODEL</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtMODEL";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">PART NO</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtPART_NO";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">PART NAME</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtPART_NAME";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">PC ADDRESS</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtPC_ADDRESS";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">QTY</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtQTY";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">BOX SIZE</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtBOX_SIZE";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">QTY BOX</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtQTY_BOX";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">QTY ACT</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtQTY_ACT";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">PXP LOCATION</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtPXP_LOCATION";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">WORKING DATE</label>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_txtWORKING_DATE";
				settings.ControlStyle.CssClass = "dateedit textdate";
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
    </div>
    <div class="itembox">
		<label class="placehoder">SHIFT</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtSHIFT";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">UP STATUS</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtUP_STATUS";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">INCOMP REASON</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtINCOMP_REASON";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">IS ACTIVE</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtIS_ACTIVE";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">IS OVER</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtIS_OVER";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">CREATED BY</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtCREATED_BY";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">CREATED DATE</label>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_txtCREATED_DATE";
				settings.ControlStyle.CssClass = "dateedit textdate";
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
    </div>
    <div class="itembox">
		<label class="placehoder">UPDATED BY</label>
			@Html.DevExpress().TextBox(settings =>
			{
				settings.Name = "_txtUPDATED_BY";
				settings.ControlStyle.CssClass = "textbox";
			}).GetHtml()
    </div>
    <div class="itembox">
		<label class="placehoder">UPDATED DATE</label>
			@Html.DevExpress().DateEdit(settings => 
			{
				settings.Name = "_txtUPDATED_DATE";
				settings.ControlStyle.CssClass = "dateedit textdate";
				settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
			}).GetHtml() 
    </div>
    <div class="itembox">    
		@if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
			(Html.Toyota().Page.ControllerName.ToString(), "Search"))
		{	
			@Html.DevExpress().Button(settings =>
			{
				settings.Name = "btnSearch";
				settings.Text = "Search";
				settings.ClientSideEvents.Click = "DoSearch";
			}).GetHtml()
		}
    </div>
</div>
