@inject IJSRuntime JS
@inherits AbpZeroTemplateComponentBase

@if (HasUserInfo)
{
    <div class="card">
        <!--begin::Card body-->
        <div class="card-body d-flex flex-center flex-column pt-12 p-9">
            <!--begin::Avatar-->
            <div class="symbol symbol-65px symbol-circle mb-5">
                <img src="@_userImage">
            </div>
            <!--end::Avatar-->
            <!--begin::Name-->
            <a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0">
                @ApplicationContext.LoginInfo.User.UserName
            </a>
            <!--end::Name-->
            <!--begin::Position-->
            <div class="fw-semibold text-gray-400 mb-6"> @(ApplicationContext.LoginInfo.User.Name + " " + ApplicationContext.LoginInfo.User.Surname)</div>
            <!--end::Position-->
        </div>
        <!--end::Card body-->
    </div>
}

<!--begin:Menu item-->
<div class="menu-item pt-2">
    <!--begin:Menu content-->
    <div class="menu-content">
        <span class="menu-heading fw-bold text-uppercase fs-7">@L("Menu")</span>
    </div>
    <!--end:Menu content-->
</div>
<!--end:Menu item-->
@foreach (var item in MenuItems)
{
    <div class="menu-item">
        <!--begin:Menu link-->
        <NavLink class="menu-link" href="@item.NavigationUrl">
            <span class="menu-icon"> <i class="@item.Icon"></i> </span>
            <span class="menu-title">@item.Title</span>
        </NavLink>
        <!--end:Menu link-->
    </div>
}