@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dxcontent_list">
    <div class="content-header content-title">
        @Html.Partial("_TB_M_LOOKUPSearch")
        <div class="action-area" style="float: right; margin-right: 2px; margin-top: 0px">             
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
                    (Html.Toyota().Page.ControllerName.ToString(), "New"))
              {
                          Html.DevExpress().Button(
                              settings =>
                              {
                                  settings.Name = "btnAdd";
                                  settings.Text = "Add New";
                                  settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.ActionsAdd16x16; 
                                  settings.ClientSideEvents.Click = "Add";
                              }
                          ).GetHtml();
              }
        </div>

        <div class="action-area" style="float: right; margin-right: 2px; margin-top: 0px">
            @if (Html.Toyota().Authorization.IsAuthorizedToAccessFeature
                    (Html.Toyota().Page.ControllerName.ToString(), "New"))
              {
                          Html.DevExpress().Button(
                              settings =>
                              {
                                  settings.Name = "btnSavePdf";
                                  settings.Text = "Save Pdf";
                                  settings.Images.Image.IconID = DevExpress.Web.ASPxThemes.IconID.SaveSave16x16;
                                  settings.ClientSideEvents.Click = "SavePdf";
                              }
                          ).GetHtml();
              }
        </div>
        
    </div>

    @Html.Partial("_TB_M_LOOKUPList")

    @*<div class="action-area" style="float: right; margin-right: 2px; margin-top: 0px"><a href="@Url.Action("SaveViewasPDF2", "TB_M_LOOKUP")">Save Pdf</a></div>*@

    @Html.DevExpress().PopupControl(
        settings => {
            settings.HeaderText = "LOOKUP Management";
            settings.Name = "popTB_M_LOOKUP";
            settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
            settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
            settings.Modal = true;
            settings.ShowCloseButton = true;
            settings.PopupAnimationType = AnimationType.Fade;
            settings.Width = System.Web.UI.WebControls.Unit.Pixel(500);
            settings.Style.Add("background-color", "rgba(0, 0, 0, 0.5)");
            settings.SetContent(() =>
            {
                Html.RenderPartial("_TB_M_LOOKUPEdit");
            });
            settings.ClientSideEvents.CloseUp = "OnPopTB_M_LOOKUPCloseUp";
        }
    ).GetHtml()
</div>

@section HeadScript{
    <script type="text/javascript" src="@Url.Content("~/Content/Scripts/App/TB_M_LOOKUP.js")"></script>
}