<table class="edit-form">
	<tr>
        <td class="label"> 
			CFC  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_CFC";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			Katashiki  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_KATASHIKI";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			PROD_SFX  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_PROD_SFX";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
	<tr>
        <td class="label"> 
			INT_COLOR  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_INT_COLOR";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			EXT_COLOR  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_EXT_COLOR";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			Production month  
		</td>
        <td>
            @Html.DevExpress().DateEdit(settings =>
            {
                settings.Name = "_PRODUCTION_MONTH";
                settings.ControlStyle.CssClass = "dateedit";
                settings.Width = 200;
                settings.Properties.DisplayFormatString = "dd/MM/yyyy"; //"dd-MM-yyyy";
                settings.Properties.EditFormatString = "dd/MM/yyyy";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			LO_VOLUME  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY01  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY01";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY02  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY02";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			LO_VOLUME_DAY03  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY03";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY04  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY04";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY05  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY05";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			LO_VOLUME_DAY06  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY06";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY07  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY07";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY08  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY08";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			LO_VOLUME_DAY09  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY09";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY10  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY10";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY11  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY11";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			LO_VOLUME_DAY12  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY12";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY13  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY13";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY14  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY14";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			LO_VOLUME_DAY15  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY15";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY16  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY16";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY17  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY17";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			LO_VOLUME_DAY18  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY18";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY19  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY19";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY20  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY20";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			LO_VOLUME_DAY21  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY21";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY22  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY22";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY23  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY23";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			LO_VOLUME_DAY24  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY24";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY25  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY25";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY26  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY26";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			LO_VOLUME_DAY27  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY27";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY28  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY28";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY29  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY29";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			LO_VOLUME_DAY30  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY30";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			LO_VOLUME_DAY31  
		</td>
        <td>
            @Html.DevExpress().SpinEdit(
            settings =>
            {
                settings.Name = "_LO_VOLUME_DAY31";
                settings.Width = 200;
                settings.Properties.SpinButtons.ShowIncrementButtons = true;
                settings.Properties.Increment = 1;
                settings.Properties.NumberType = SpinEditNumberType.Integer;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
        <td class="label"> 
			IS_NQC_REQ_PROCESSED  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_IS_NQC_REQ_PROCESSED";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    <tr>
        <td class="label"> 
			IS_NQC_RES_PROCESSED  
		</td>
        <td>
            @Html.DevExpress().TextBox(settings =>
            {
                settings.Name = "_IS_NQC_RES_PROCESSED";
                settings.Width = 200;
                settings.ControlStyle.CssClass = "textbox";
            }).GetHtml()
			<span class="messageerror"></span>
        </td>
    </tr>
    
    <tr>
        <td colspan="6" style="padding-top: 20px;">
            <div style="float: right; margin-right: 20px;">
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnCancel";
                    settings.ControlStyle.CssClass = "button";
                    settings.Text = "Cancel";
                    settings.ClientSideEvents.Click = "OnBtnCancelClicked";
                }).GetHtml()
            </div>
            <div style="float: right; margin-right: 5px">
                @Html.DevExpress().Button(settings =>
                {
                    settings.Name = "btnUpdate";
                    settings.ControlStyle.CssClass = "button";
                    settings.Text = "Save";
                    settings.UseSubmitBehavior = true;
                    settings.ClientSideEvents.Click = "function(s, e){ OnBtnUpdateClicked(this) }";
                }).GetHtml()
            </div>
            <span id="userStatus" class="action-status"></span>
        </td>
    </tr>
</table>